<div>
    This will import {{name}} into foundry and replace any data that is currently there. Do you wish to continue?
    <a class="myButton" data-action="importBtn" data-id="{{scabardData.id}}">Import</a>
    <a class="myButton" data-action="cancelBtn">Cancel</a>
</div>