<div>
    <h1>Scabard Connect Login</h1>
    <label>Username</label>
    <input type="text" id="username" name="username" value="{{username}}" required />
    <label>API Key</label>
    <input type="text" id="apiKey" name="apiKey" value="{{apiKey}}" required />
    <a class="myButton" data-action="login">Connect</a>

    <h3 class="error hidden" id="error">Please Check your API Key or Username</h3>
</div>