<div>
    <select name="CampaignChoice" id="CampaignChoice">
         {{selectOptions campaignKeys selected=selected nameAttr="key" labelAttr="label"}}
    </select>
    <a class="myButton" data-action="select">select</a>

    <h3 id="error"></h3>
</div>